<figure class="card card-product">
	<div class="img-wrap"><img src=""></div>
	<figcaption class="info-wrap">
		<h4 class="title">{{productName}}</h4>
		<p class="desc"></p>
		<div class="rating-wrap">
			<div class="label-rating"></div>
			<div class="label-rating"></div>
	  </div> <!-- rating-wrap.// -->
	</figcaption>
	<div class="bottom-wrap">
		<a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
		<div class="price-wrap h5">
			<span class="price">$1280</span>
		</div> <!-- price-wrap.// -->
	</div> <!-- bottom-wrap.// -->
</figure>

<div class="panel h-100">
	<div class="panel-title">
		<span class="text-left">{{cat.name}}</span>
		<small class="text-right text-muted">{{cat.id}}</small>
	</div>
	<div class="card-body">
		{{cat}}
	</div>
</div>
